<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Ensures proper mobile scaling -->
    <title>Church App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="center-container">
        <h1 class="index-welcome">Welcome</h1>
        <form action="/set_church" method="post">
            <input type="text" id="church_code" name="church_code"
                   inputmode="numeric"
                   pattern="[0-9]{5}" title="Enter a five-digit church code"
                   placeholder="Enter Code" maxlength="5" required>
            <input type="submit" value="Submit">
        </form>
    </div>
    <!-- Rest of your script and body -->
</body>
</html>
