<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="header">
        <h1>Settings</h1>
        <button class="hamburger" aria-label="Toggle navigation">
            <div class="bar"></div>
          </button>
    </div>
    
        <nav class="mobile-nav">
          <a
            href="{{ url_for('church_main', church_id=church.id) }}"
            class="move-button"
            >Home</a
          >
          <a
            href="{{ url_for('calendar', church_id=church.id) }}"
            class="move-button"
            >Calendar</a
          >
          <a
            href="{{ url_for('upcoming_events', church_id=church.id) }}"
            class="move-button"
            >Upcoming Events</a
          >
          <a
            href="{{ url_for('service_books', church_id=church.id) }}"
            class="move-button"
            >Service Books</a
          >
          <a href="{{ url_for('settings', church_id=church.id) }}" class="move-button">Settings</a> <!-- New Settings Button -->
    
          <a href="{{ url_for('logout') }}" class="move-button">Logout</a>
        </nav>
    

    <div class="content-container">
        <div class="content">
            <p>Configure your user and admin settings from here.</p>
        </div>

        <a href="{{ url_for('church_main', church_id=church.id) }}" class="move-button">Home</a>
        <a href="{{ url_for('admin_check', church_id=church.id) }}" class="move-button">Admin Check</a>
        <button id="enableNotifications" class="move-button">Enable Notifications</button>
        <a href="{{ url_for('logout') }}" class="move-button">Logout</a>


        <!--Notification Testing-->
        <button id="subscribe">Subscribe to Notifications</button>
    </div>

    <form id="sendNotificationForm">
      <input type="text" id="notification" placeholder="Notification message">
      <input type="number" id="delay" placeholder="Delay in seconds">
      <label>
        <input type="checkbox" id="requireInteraction"> Require Interaction
      </label>
      <button type="submit">Send Notification</button>
    </form>
    

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js')
          .then(function(registration) {
            console.log('Service Worker registered with scope:', registration.scope);
          })
          .catch(function(error) {
            console.log('Service Worker registration failed:', error);
          });
      }
    </script>
    
</body>
</html>
