<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <h1>Settings</h1>
        <button class="hamburger" aria-label="Toggle navigation">
            <div class="bar"></div>
          </button>
    </div>
    
        <nav class="mobile-nav">
          <a
            href="{{ url_for('church_main', church_id=church.id) }}"
            class="move-button"
            >Home</a
          >
          <a
            href="{{ url_for('calendar', church_id=church.id) }}"
            class="move-button"
            >Calendar</a
          >
          <a
            href="{{ url_for('upcoming_events', church_id=church.id) }}"
            class="move-button"
            >Upcoming Events</a
          >
          <a
            href="{{ url_for('service_books', church_id=church.id) }}"
            class="move-button"
            >Service Books</a
          >
          <a href="{{ url_for('settings', church_id=church.id) }}" class="move-button">Settings</a> <!-- New Settings Button -->
    
          <a href="{{ url_for('logout') }}" class="move-button">Logout</a>
        </nav>
    

    <div class="content-container">
        <div class="content">
            <p>Configure your user and admin settings from here.</p>
        </div>

        <a href="{{ url_for('church_main', church_id=church.id) }}" class="move-button">Home</a>
        <a href="{{ url_for('admin_check', church_id=church.id) }}" class="move-button">Admin Check</a>
        <button id="enableNotifications" class="move-button">Enable Notifications</button>
        <a href="{{ url_for('logout') }}" class="move-button">Logout</a>


        <p>Welcome to the webpush notification. The button below needs to be
            fixed to support subscribing to push.</p>
        <p>
            <button disabled class="js-push-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Enable Push Messaging
            </button>
        </p>
        <section class="subscription-details js-subscription-details is-invisible">
            <p>Once you've subscribed your user, you'd send their subscription to your
                server to store in a database so that when you want to send a message
                you can lookup the subscription and send a message to it.</p>
            <pre><code class="js-subscription-json"></code></pre>

            <hr>
            <p>You can test push notification below.</p>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="push_message()">Test Push Notification</button>
        </section>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
