<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Trinity Apps</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body style="background-color: var(--cream-bg); color: var(--text-color)">

    <div class="header">
      <h1>Welcome to Trinity Apps</h1>
      <p class="location">By Jordan Barhoumeh</p>

    <div class="center-container">
        <p>
          This app acts as a landing page for your church, its events, and other
          exciting features.
        </p>
        <p>
          To use the app, add it to your homescreen. Then, open it and enter the
          code provided by your church.
        </p>
        <p>
          Experience a seamless way to stay connected with your church
          community, access event schedules, read service books, and even
          participate in discussions or groups. Don't forget to check out the
          option to contribute or donate directly through the app, making it
          easier than ever to support your church's missions and activities.
        </p>
      </main>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
